@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Abhaya Libre", serif;
  font-family: "Lexend", sans-serif;
}

.heroSection {
  padding: 100px 0;
  background-color: rgba(66, 178, 252, 0.2);
}

.aboutSection {
  padding: 100px 0;
}

footer {
  padding: 50px 0;
  background-color: #000;
}

.customText {
  color: grey;
}
